<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logTextView</key>
	<false/>
	<key>firstRun</key>
	<true/>
	<key>lockScreenDisabled</key>
	<false/>
	<key>runsInBackground</key>
	<false/>
	<key>touchSendingEnabled</key>
	<false/>
	<key>sensorSendingEnabled</key>
	<false/>
	<key>controllerSendingEnabled</key>
	<false/>
	<key>keySendingEnabled</key>
	<false/>
	<key>printSendingEnabled</key>
	<false/>
	<key>autoLatency</key>
	<true/>
	<key>ticksPerBuffer</key>
	<integer>16</integer>
	<key>oscSendHost</key>
	<string>localhost</string>
	<key>oscSendPort</key>
	<integer>8888</integer>
	<key>oscListenPort</key>
	<integer>8088</integer>
	<key>oscServerEnabled</key>
	<false/>
	<key>webServerPort</key>
	<integer>8080</integer>
	<key>micVolume</key>
	<real>0.25</real>
	<key>earpieceSpeakerEnabled</key>
	<false/>
	<key>midiEnabled</key>
	<false/>
	<key>networkMidiEnabled</key>
	<false/>
	<key>virtualMidiEnabled</key>
	<false/>
	<key>multiMidiDeviceMode</key>
	<false/>
</dict>
</plist>
