<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
        <key>author</key>
		<string>Dan Wilcox</string>
		<key>description</key>
        <string>A simple test for [r #accelerate], [r #gyro], [rj_loc], [rj_compass], and [rj_time]</string>
		<key>name</key>
		<string>Sensors</string>
		<key>category</key>
		<string>Interactive</string>
	</dict>
</dict>
</plist>
