<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Dan Wilcox</string>
		<key>description</key>
		<string>A recreation of the Nasa Quindar Tones, most often referred to as the &quot;beeps&quot; that were heard during the American Apollo space missions to the Moon. These tones were used as Push-To-Talk remote transmitter controls used to mute the Mission Control to spacecraft uplink radio to avoid annoying the astronauts when the Capcom had nothing to say. Although known popularly through media recorded at Mission Control, they were filtered out of the audio stream and never heard by the astronauts.</string>
		<key>name</key>
		<string>ApolloVoice</string>
	</dict>
</dict>
</plist>
